<div class="row mb-4">
    <div class="col-md-1 p-0">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">排序</h5>
            </div>
            <div class="card-body">
                <p class="card-text">@Order</p>
            </div>
        </div>
    </div>
    <div class="col-md-4 p-0">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">原文</h5>
            </div>
            <div class="card-body">
                <p class="card-text">@Text</p>
            </div>
        </div>
    </div>
    <div class="col-md-4 p-0">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">翻譯</h5>
            </div>
            <div class="card-body">
                <p class="card-text">@Translation</p>
            </div>
        </div>
    </div>
</div>
